[Unit]
Description=rtl_433
After=network.target
[Service]
ExecStartPre=/root/fix_rtl
ExecStart=/bin/bash -c "/usr/bin/rtl_433 -R 31 -F json | rtl_ea2_narodmon 'xxxxxxxxxxxx'"
Restart=always
RestartSec=5
[Install]
WantedBy=multi-user.target

